{% extends "template.html" %}
{% block conteudo %}
            <aside>
                <h2>Sobre o Quick Query</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </aside>

            <article>
            <h1>Faça seu login</h1>
                <form method="POST" action="{{ url_for('autenticar') }}">
                    <input type="hidden" name="proxima" value="{{ proxima }}">
                    <p><label>Usuário:</label><br>
                        <input class="form-control" type="text" name="usuario" required></p>
                    <p><label>Senha:</label><br>
                        <input class="form-control" type="password" name="senha" required></p>
                    <p><button class="login-button" type="submit">Entrar</button></p>
                </form>
            </article>
{% endblock %}